@import '../../scss//bootstrap_variables';
@import '../../scss/bootstrap_variables';
@import '../../scss/mixins';

.layout-dbg {
  display: grid;
  grid-template-columns: auto auto 25% 300px;
  grid-template-rows: 200px auto auto;
  grid-template-areas:
    'menu . . debug '
    'menu . docbox debug '
    'menu text text text';
  column-gap: 3rem;
  background: #555;
}

.pane-wrapper{
  z-index: 10;
}

.menu-wrapper {
  grid-area: menu;
  height: 100vh;
}
.docbox-wrapper {
  grid-area: docbox;
}
.text-wrapper {
  grid-area: text;
}
.dbg-wrapper {
  width: 300px;
  grid-area: debug;
  height: 80vh;
}

.docbox-page {
  background-image: url('/public/DocBoxish.png');
  background-size: cover;
  header {
    background: #000000b0;
  }
  .title, button, code, span {
    background:black;
    color: cyan;
  }
  code, span {
    padding: 2px;
  }
}


.fake-3d {
  background-image: url('/public/room.png');
  background-size: cover;
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}